@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary-color: #00D2BD;
    --white-color: #FFF;
    --black-color: #000;
    --gray-color: #515151;
    --light-gray-color: #d9d9d9;
    --white-gray-color: #F2F2F2DB;
    --black-gray-color: #9F9F9F;
    --navy-color: #2D3243;
    --kakao-color: #FEE500;
    --red-color: #FF0000;
    --main-font: 'Pretendard-Regular';
    --normal-weight: 400;
    --bold-weight: 600;
    --light-font-weight: 300;
    --normal-font-size: 1rem;
    --big-font-size: 1.5rem;
    --small-font-size: 0.8rem;
}

body {
    margin:  0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    margin: 50px 0;
    width: 90vw;
}

.search input {
    width: 80vw;
    height: 28px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px 12px;
    font-size: var(--small-font-size);
    font-family: var(--main-font);
    background-color: var(--white-gray-color);
}

.search input::placeholder {
    font-size: var(--small-font-size);
    font-family: var(--main-font);
    color: var(--black-gray-color);
}

.search ion-icon {
    width: 20px;
    height: 20px;
    --ionicon-stroke-width: 32px;
    position : absolute;
    width: 6vw;
    top: calc(50px + 13px);
    right: 12vw;
    margin: 0;
}

main {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .apply {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main .apply .img-wrap {
    width: 45vw;
    height: 27vh;
}

main .apply .img-wrap img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

article {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 22px;
}

article .post {
    width: 86vw;
    box-sizing: border-box;
}

article .post h1 {
    font-family: var(--main-font);
    font-size: var(--big-font-size);
    font-weight: var(--bold-weight);
    color: var(--black-color);
}

article .post .content-wrap {
    width: 86vw;
    height: 20vh;
    background-color: #000;
    border-radius: 20px;
}

article .post:last-child .content-wrap {
    margin: 0 0 15vh 0;
}

nav {
    position: fixed;
    background-color: var(--white-color);
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
}

nav .nav-item {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .nav-item ion-icon {
    margin: 1.3vh 0;
    color: #c2c2c2;
    min-width: 22px;
    min-height: 22px;
}

nav .nav-item span {
    font-size: var(--small-font-size);
    font-family: var(--main-font);
    color: var(--black-color);
    font-weight: var(--light-font-weight);
}


